body {
    margin: 0;
    background-color: rgb(255, 0, 0);
    sc
}

.header {
    text-align: center;
}

.logo {
    padding: 1%;
    width: 20%;

}


.section {
    margin: 0 0 1% 1%;
}

.heroes {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    border: 3px inset gray;
    padding: 0.3%;
    text-align: center;
    margin: 0 0 3% 3%;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image {
    height: 200px;
}

.pic {
    height: 100%;
}

.article-title {
    color: red;
}

p {
    text-align: left;
}

.description {
    overflow-y:  auto;
    height: 300px;
}

.line {
    width: 90%;
}