body {
    margin: 0;
    background-color: rgb(255, 0, 0);

}

.header {
    text-align: center;
}

.logo {
    padding: 1%;
    width: 20%;

}


.section {
    margin: 0 0 2% 2%;
}

.heroes {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    border: 3px inset gray;
    padding: 0.3%;
    text-align: center;
    margin-left: 3%;
    background-color: #fff;
}

.img {
    width: 40%;
}
.article-title {
    color: red;
}

p {
    text-align: left;
}
